# Dotnet code style settings:
[*.{cs,vb}]
root = true

# Disable Read-only warning
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.IDE0251.severity = none

# Disable unused private members warning
dotnet_diagnostic.IDE0051.severity = none

# Class members should be ordered by access
dotnet_diagnostic.ordering_rule_fields_should_be_before_properties.severity = suggestion
dotnet_diagnostic.ordering_rule_fields_should_be_before_properties.symbols = fields
dotnet_diagnostic.ordering_rule_fields_should_be_before_properties.style = before_property

# General naming rules
insert_final_newline = true
